# Exclude files/folders that should not be sent to the Docker build context
node_modules
.next
out
npm-debug.log*
yarn-error.log*
.pnpm-store
.git
.gitignore
Dockerfile.frontend

# OS / IDE
.DS_Store
.vscode
*.swp
