// Caddy global options
{
  email admin@hsomarine.com
}

# Producción
hsomarine.com, www.hsomarine.com {
  encode gzip
  reverse_proxy frontend-prod:80
}

# Test (ajusta el dominio si usas otro subdominio)
devapi.hsomarine.com, developmentapi.hsomarine.com {
  encode gzip
  reverse_proxy frontend-test:80
}
